
<style>
    .table-bordered {
        position: relative;
    }

        .table-bordered thead th {
            position: sticky;
            top: 0;
        }

        .table-bordered tbody {
            max-height: 200px;
            overflow-y: scroll;
        }
</style>



<section class="content-container contentContainer">
    <div class="d-flex justify-content-between">
        <h5 class="page-title"></h5>
        <div class="back">
            <a href="javascript:void(0);" onclick="location.reload();">
                <i class='bx bx-arrow-back'></i>
            </a>
        </div>
    </div>
    <h3 class="page-title">Admission</h3>

    <div class="box-container" id="totaladm">
        <div class="row">


            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Admission number</label>
                    @Html.TextBox("Admissionno", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Allotment date</label>
                    @Html.TextBox("Admdate", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Admission type</label>
                    @Html.TextBox("Admtype", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>GAT rank/marks</label>
                    @Html.TextBox("GATmarks", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Campus</label>
                    @Html.TextBox("Campus", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Degree</label>
                    @Html.TextBox("Degree", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group ">
                    <label>Branch</label>
                    @Html.TextBox("Branch", null, new { @class = "form-control", @maxlength = "100", @readonly = "true" })


                </div>
            </div>




        </div>
    </div>





    <div class="row">
        <div id="dynamic6" class="">
            <h6 class="">Courses applied and payments</h6>
            <div class="table-container">
                <div id="dynamictable6" class="table-responsive dropdown_filter   box-inner"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="dynamic" class="">
                <h6 class="">Branches preferences </h6>

                <div id="dynamictable" class="table-responsive dropdown_filter   box-inner">
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div id="dynamic2" class="">
                <h6 class="">Allocated branch in counseling</h6>

                <div id="dynamictable2" class="table-responsive dropdown_filter  box-inner">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="dynamic3" class="">
                <h6 class="">Payment details</h6>

                <div id="dynamictable3" class="table-responsive dropdown_filter  box-inner">
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div id="dynamic4" class="">
                <h6 class=""> Scholarship eligibility /Allotment </h6>

                <div id="dynamictable4" class="table-responsive dropdown_filter   box-inner">
                </div>
            </div>
        </div>
    </div>




    <div id="dynamic5" class="">
        <h6 class="">  Scholarship allocated </h6>
        <div id="dynamictable5" class="table-responsive dropdown_filter   box-inner">
        </div>
    </div>

</section>

    <script>
        $(document).ready(function () {

            getData();
            getbranch();
            getcounselingbranch();
            getpaymentdetails();
            getschloareligibilty();
            getschloarallocated();
            Coursesappliedandpayment();




        });


        function getData() {


            $.ajax({
                type: "Get",
                url: './Home/Student_Admissiondata',
                contentType: "application/json; charset=utf-8",
                data: {
                },

                success: function (data) {

                    console.log(data);
                    if (data.length == 0) {
                        $("#totaladm").show();

                    } else {

                        $("#totaladm").show();

                        $('#Admissionno').val(data[0].APPLICATION_NO)
                        $('#Admdate').val(data[0].allotmentdate)
                        $('#Admtype').val(data[0].type)
                        $('#GATmarks').val(data[0].GAT_RANK)
                        $('#GATrank').val(data[0].GAT_RANK)
                        $('#Campus').val(data[0].CAMPUS)
                        $('#Degree').val(data[0].degree_code)
                        $('#Branch').val(data[0].branch)

                    }
                }


            });
        }
        function getbranch() {


            $.ajax({
                type: "Get",
                url: './Home/Student_branchdata',
                contentType: "application/json; charset=utf-8",
                data: {



                },
                success: function (data) {


                    if (data.length == 0) {

                        $('#dynamictable').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Campus</th><th>Course</th><th>Allocated date</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';

                        trHTML += '</tbody></table>';

                        //$('#dynamictable').append(trHTML);
                        $("#dynamic").show();


                    } else {

                        $('#dynamictable').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Campus</th><th>Course</th><th>Allocated date</th></tr></thead><tbody>';
                        $.each(data, function (key, value) {

                            trHTML +=
                                "<tr><td>" + value.CAMPUS +
                                /*"<tr><td>" + value.regdno +*/

                                "</td><td>" + value.COURSE_DISPLAY +
                                "</td><td>" + value.allotmentdate +

                                "</td></tr> "
                        });
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable').append(trHTML);


                    $("#dynamic").show();
                }


            });
        }

        function getcounselingbranch() {


            $.ajax({
                type: "Get",
                url: './Home/Student_counselingbranch',
                contentType: "application/json; charset=utf-8",
                data: {

                },
                success: function (data) {


                    if (data.length == 0) {

                        $('#dynamictable2').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Campus</th><th>Course</th><th>Allocated date</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';

                        trHTML += '</tbody></table>';

                        //$('#dynamictable').append(trHTML);
                        $("#dynamic2").show();


                    } else {

                        $('#dynamictable2').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Campus</th><th>Course</th><th>Allocated date</th></tr></thead><tbody>';
                        $.each(data, function (key, value) {

                            trHTML +=
                                /*  "<tr><td>" + value.regdno +*/
                                "<tr><td>" + value.CAMPUS +

                                "</td><td>" + value.COURSE_DISPLAY +
                                "</td><td>" + value.allotmentdate +

                                "</td></tr> "
                        });
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable2').append(trHTML);



                    $("#dynamic2").show();
                }


            });
        }
        function getpaymentdetails() {


            $.ajax({
                type: "Get",
                url: './Home/Student_AdmPaymentdetails',

                contentType: "application/json; charset=utf-8",
                data: {

                },
                success: function (data) {


                    if (data.length == 0) {

                        $('#dynamictable3').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Amount</th><th>Txnid</th><th>Payment status</th><th>Payment date</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';

                        trHTML += '</tbody></table>';

                        //$('#dynamictable').append(trHTML);
                        $("#dynamic3").show();
                        $('#tbl3').dataTable({


                        });

                    } else {

                        $('#dynamictable3').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Amount</th><th>Txnid</th><th>Payment status</th><th>Payment date</th></tr></thead><tbody>';
                        $.each(data, function (key, value) {
                            var payment = value.Status;
                            //console.log(payment);
                            if (payment == "Y") {
                                payment = "Successful"
                            }
                            trHTML +=
                                /* "<tr><td>" + value.regdno +*/
                                "<tr><td>" + value.amount +

                                "</td><td>" + value.txn_id +
                                   "</td><td>" + payment +
                                "</td><td>" + value.paymenT_DATE +


                                "</td></tr> "
                        });

                        $("#dynamic3").show();
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable3').append(trHTML);
                    $('#tbl3').dataTable({


                    });


                    $("#dynamic3").show();
                }


            });
        }
        function getschloareligibilty() {


            $.ajax({
                type: "Get",
                url: './Home/Student_Scholareligibility',
                contentType: "application/json; charset=utf-8",
                data: {

                },
                success: function (data) {


                    if (data.length == 0) {

                        $('#dynamictable4').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>Exam type</th><th>Scholar percentage</th><th>Scholarship</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';
                        trHTML += '</tbody></table>';
                        $("#dynamic4").show();

                    } else {

                        $('#dynamictable4').html('');
                        trHTML = '<table class="table table-bordered" style="width:100%"><thead><tr><th>Exam type</th><th>Scholar percentage</th><th>Scholarship</th></tr></thead><tbody>';
                        $.each(data, function (key, value) {

                            trHTML +=
                                /*   "<tr><td>" + value.applicantno +*/
                                "<tr><td>" + value.type +

                                "</td><td>" + value.Percentage +
                            "</td><td>" + value.PostedFlag +



                                "</td></tr> "
                        });
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable4').append(trHTML);


                    $("#dynamic4").show();
                }


            });
        }
        function getschloarallocated() {

            $.ajax({
                type: "Get",
                url: './Home/Student_Scholarallocated',
                contentType: "application/json; charset=utf-8",
                data: {

                },
                success: function (data) {

                    debugger;
                    if (data.length == 0) {

                        $('#dynamictable5').html('');
                        trHTML = '<table class="table table-bordered" style="width:100%"><thead><tr><th>Exam type</th><th>Total partion percent</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';

                        trHTML += '</tbody></table>';

                        $("#dynamic5").show();

                    } else {

                        $('#dynamictable5').html('');
                        trHTML = '<table class="table table-bordered" style="width:100%"><thead><tr><th>Exam type</th><th>Total partion percent</th></tr></thead><tbody>';
                        /*<th>scholartype1</th><th>scholarPer1</th><th>scholarDeductAmount1</th><th>scholartype2</th><th>scholarPer2</th><th>scholarDeductAmount2</th><th>scholartype3</th><th>scholarPer3</th><th>scholarDeductAmount3</th><th>scholartype4</th><th>scholarPer4</th><th>scholarDeductAmount4</th><th>scholartype5</th><th>scholarPer5</th><th>scholarDeductAmount5</th><th>scholartype6</th><th>scholarPer6</th><th>scholarDeductAmount6</th>*/
                        $.each(data, function (key, value) {

                            trHTML +=
                                /*  "<tr><td>" + value.applicantno +*/
                                "<tr><td>" + value.type +

                                "</td><td>" + value.Percentage +
                                "</td></tr> "
                        });
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable5').append(trHTML);


                    $("#dynamic5").show();
                }


            });
        }
        function Coursesappliedandpayment() {


            $.ajax({
                type: "Get",
                url: './Home/Coursesappliedandpayment',
                contentType: "application/json; charset=utf-8",
                data: {
                },
                success: function (data) {


                    if (data.length == 0) {

                        $('#dynamictable6').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>RegID</th><th>EmailID</th><th>Course name</th><th>Mobile</th><th>Payment status</th></tr></thead><tbody>';
                        trHTML += '<tr><td colspan="12" class="text-center">No data available</td></tr>';
                        trHTML += '</tbody></table>';

                        //$('#dynamictable').append(trHTML);
                        $("#dynamic6").show();

                    } else {

                        $('#dynamictable6').html('');
                        trHTML = '<table class="table table-bordered"  style="width:100%"><thead><tr><th>RegID</th><th>EmailID</th><th>Course name</th><th>Mobile</th><th>Payment status</th></tr></thead><tbody>';
                        $.each(data, function (key, value) {


                            var payment = value.Status;
                            if (payment == "1" || payment == "2") {
                                payment = "Successful"
                            }

                            trHTML +=
                                "<tr><td>" + value.REGDNO +
                                "</td><td>" + value.EMAILID +
                                "</td><td>" + value.NAME +
                                "</td><td>" + value.MOBILE +
                            "</td><td>" + payment +



                                "</td></tr> "
                        });
                    }

                    trHTML += "</tbody></table>";
                    $('#dynamictable6').append(trHTML);
                    $("#dynamic6").show();
                }


            });
        }

    </script>

