@model IEnumerable<Gstudent.Models.FeedbackMaster>


<style>
    .health {
        padding: 0px;
    }

        .health li {
            clear: both;
            list-style-type: none;
            position: relative;
            margin-bottom: 20px;
            border: none;
            padding: 30px 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 15px;
        }


            .health li:nth-child(1), .health li:nth-child(2), .health li:nth-child(3), .health li:nth-child(4), .health li:nth-child(5), .health li:nth-child(6), .health li:nth-child(6) {
            }



            .health li > div {
                float: left;
                padding: 5px 5px;
            }

                .health li > div:nth-child(1) {
                    width: 5px;
                }

                .health li > div:nth-child(2) {
                    font-size: 16px;
                    padding: 5px;
                    line-height: 30px;
                    font-weight: bold;
                }

                .health li > div:nth-child(2), .health li > div:nth-child(3), .health li > div:nth-child(4), .health li > div:nth-child(5), .health li > div:nth-child(6), .health li > div:nth-child(7) {
                    float: none;
                    position: relative;
                    left: 30px;
                    width: 250px;
                    white-space: nowrap;
                }

                /*.health li:nth-child(8), .health li:nth-child(6)
        {
           position:relative;
        }


          .health li:nth-child(8):before
        {
           position:absolute; top:7px; left:60px; content:"Note :Please Complete Either 8 or 9 (Not Both)"; font-size:16px;font-weight:bold;
        }

           .health li:nth-child(6):before
        {
           position:absolute; top:7px; left:60px; content:"Note :Please Complete Either 6 or 7 (Not Both)"; font-size:16px;font-weight:bold;
        }*/

                .health li > div input[type="radio"] {
                    width: 30px;
                    float: left;
                    margin-top: 5px;
                }

            .health li Label {
                font-weight: normal;
            }

    .text-center {
        text-align: center;
    }

    @@media screen and (max-width: 768px) {
        .health li > div:nth-child(2), .health li > div:nth-child(3), .health li > div:nth-child(4), .health li > div:nth-child(5), .health li > div:nth-child(6), .health li > div:nth-child(7) {
            white-space: normal;
            width: 100%
        }
    }
</style>

@{
    var msg = Convert.ToString(Session["msgfeedback"]);
}

@if (msg == "You have already given feedback to this subject")
{
    <div class="text-center" id="already">You have already given feedback to this subject</div>

}
else
{

    if (Session["branch_code"].ToString().Trim() == "BARCH" || Session["branch_code"].ToString().Trim() == "MARCH" && Session["curr_sem"].ToString() != "1")
    {
        <p>You are giving feedback on the subject :<span id="sub" class="sub-title"></span> for the faculty:<span id="fac" class="page-title"></span> For <span class="page-title"> Odd End term</span> </p>


    }
    else
    {
        <p>You are giving feedback on the subject :<span id="sub" class="sub-title"></span> for the faculty:<span id="fac" class="page-title"></span> For <span class="page-title"> Odd Mid term</span> </p>

    }




    <div class="box-inner scrollbarAll" id="eligible">
        <div class="health">

            @using (Ajax.BeginForm("createquestion", "Home", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "loading", UpdateTargetId = "nursing_assessment", OnSuccess = "Successassess" }))
            {
                int k = 0;

                <span id="MainContent_form1">

                    @foreach (var question in Model)
                    {<input type="text" name="count" id="count" value="@Model.Count()" style="display:none;">
                        <input type="text" name="ID_@k" value="@question.ID" style="display:none;">
                        <input type="text" name="NATURE_@k" value="@question.NATURE" style="display:none;">
                        <input type="text" name="maxmarks_@k" value="@question.maxmarks" style="display:none;">
                        <input type="text" name="Q_STATUS_@k" value="@question.Q_STATUS" style="display:none;">
                        //if (question.Q_STATUS.Equals("O"))
                        //{
                        <li>
                            <div><span>@question.ID</span></div>
                            <div><span>@question.NATURE</span></div>

                            @if (question.Q_STATUS.Equals("O"))
                            {
                                <div>
                                    <input id="MainContent_option1_@k" type="radio" name="ctl00$MainContent$ID_@k" value="@question.FEEDBACK1_MARK">
                                    <label for="MainContent_option1_@k">@question.FEEDBACK1</label>
                                </div> <div>
                                    <input id="MainContent_option2_@k" type="radio" name="ctl00$MainContent$ID_@k" value="@question.FEEDBACK2_MARK">
                                    <label for="MainContent_option2_@k">@question.FEEDBACK2</label>
                                </div>
                                <div>
                                    <span style="display:inline-block;width:160px;">
                                        <input id="MainContent_option3_@k" type="radio" name="ctl00$MainContent$ID_@k" value="@question.FEEDBACK3_MARK">
                                        <label for="MainContent_option3_@k">@question.FEEDBACK3</label>
                                    </span>
                                </div><div>
                                    <span style="display:inline-block;width:160px;">
                                        <input id="MainContent_option4_@k" type="radio" name="ctl00$MainContent$ID_@k" value="@question.FEEDBACK4_MARK">
                                        <label for="MainContent_option4_@k">@question.FEEDBACK4</label>
                                    </span>
                                </div>
                                <div>

                                    <input id="MainContent_option5_@k" type="radio" name="ctl00$MainContent$ID_@k" value="@question.FEEDBACK5_MARK">
                                    <label for="MainContent_option5_@k">@question.FEEDBACK5</label>

                                </div>
                            }
                            else
                            {
                                <div style="width:100%;left:0px;">
                                    <textarea id="MainContent_option1_@k" name="ctl00$MainContent$ID_@k" class="form-control" cols="50" rows="3" height="50" maxlength="500"> </textarea>

                                </div>

                            }
                        </li>

                        k++;
                    }
                </span>
                <div class="row">

                    <div class="col-md-9">
                        <span style="color:red;font-size:20px;">*</span>Note : Above 1 to 10 questions are mandatory to fill
                    </div>



                </div>
                <div class="row">


                    <div class="button-group text-center">

                        <button id="btnsubmit" type="button" class="btn btn-primary" onclick="validatetextbox(event);">Submit</button>
                        @*<button id="Reset" name="Reset" value="Reset" class="btn btn-secondary">Reset</button>*@
                        <button type="button" onclick="resetscreen();" class="btn btn-secondary">Reset</button>


                    </div>

                </div>

            }
        </div>
    </div>
}


<script>

    $(document).ready(function () {
        console.log($('#Subject').find(":selected").text());
        $('#sub').html($('#Subject').find(":selected").text());
        $('#fac').html($('#FacultyId').find(":selected").text());
    });

    function Successassess(e) {
        //debugger;
        console.log(e);
        var error = e.param2;
        if (error == "Successfully submitted") {

            swal('Submitted successfully', '', 'success');
            setTimeout(loaddata, 1500);
        }

        else if (error == "Already submitted") {
            swal('Already submitted', '', 'error');
            setTimeout(loaddata, 1500);

        }
        else {
            swal('Cancelled', '', 'error');
            setTimeout(loaddata, 1500);
        }
    }

    function validatetextbox() {
        var isFormValid = true;
        var count = $("#count").val();
        var count1 = count - 1;
        var countnew = 0;
        for (var i = 0; i <= count1; i++) {
            var radioGroupName = "ctl00$MainContent$ID_" + i;
            var inputType = $('input[name="' + radioGroupName + '"]').attr('type');
            if (inputType == undefined) {
                inputType = "textarea";
            }
            if (inputType == "radio") {
                if ($('input[name="' + radioGroupName + '"]:checked').length === 0) {
                    swal('Please select an option for Question ' + (i + 1), '', 'error');

                    isFormValid = false;
                    break; // Stop checking if one question is missing
                }
            }

        }
        if (isFormValid == true) {

            swal({
                title: "Are you sure to submit?",
                type: "warning",
                confirmButtonText: "Confirm",
                showCancelButton: true,

            })
                .then((willDelete) => {
                    if (willDelete.value) {
                        $("#btnsubmit").submit();
                        return false;
                    } else {
                        swal('Cancelled', '', 'error');
                        return false;
                    }
                });
        }
    };
    //$("#Reset").click(function () {
    //    $("input:radio[name=options]").prop('checked', false);

    //});
    function resetscreen() {
        loadConfigView('37');
        // $("input:radio[name=options]").prop('checked', false);
    }
    function loaddata() {
        loadConfigView('37');
    }
</script>
<script>


        function GetselectByType1() {
       // $("#" + propertyname).empty();
            $('#academiclist1').hide();
        var subject_code = $("#Subject").val();
        $.ajax({
            type: "POST",
            url: '@Url.Content("./Home/Getfeedbackfaculty")',

            data: { subject_code: subject_code },
            error: function (ex) {
           //     alert('Failed to retrieve ' + ex);
            },
            success: function (data) {
                debugger;
                console.log(data);

                var fill = data;
                console.log(fill);
                $("#FacultyId").empty();
                $("#FacultyId").append("<option value=''>Select</option>")

                if (data.emp.length > 0) {


                    for (var i = 0; i < data.list.length; i++) {

                        var found = false;

                        for (var j = 0; j < data.emp.length; j++) {

                            if (data.list[i].EMPID == data.emp[j].empid && data.list[i].feedbacksession != 1 ) {

                                $("#FacultyId").append("<option class='bg_gray' value='" + data.list[i].EMPID.trim() + "'>" + data.list[i].Emp_name.trim() + "</option>");
                                found = true;
                                break;
                            }
                        }

                        if (!found) {
                            $("#FacultyId").append("<option value='" + data.list[i].EMPID.trim() + "'>" + data.list[i].Emp_name.trim() + "</option>");
                        }
                    }
                }
                else {
                    for (var i = 0; i < data.list.length; i++) {


                        $("#FacultyId").append("<option value='" + data.list[i].EMPID.trim() + "'>" + data.list[i].Emp_name.trim() + "</option>");

                        }

                }
                }
        })

        }
</script>
