
<section class="content-container contentContainer">
    @using (Ajax.BeginForm("", "Home", new AjaxOptions { OnBegin = "return Validate()", OnSuccess = "OnSuccess", OnFailure = "OnFailure", HttpMethod = "POST", LoadingElementId = "loading" }))
    {
    @Html.AntiForgeryToken()
    <div class="margin_section margin_top  form_history_icon " id="maindiv1">
       
        <div class="d-flex justify-content-between">
            <h5 class="page-title"> Update password</h5>
            <div class="back">
                <a href="javascript:void(0);" onclick="location.reload();">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </div>
        </div>
        <div class="box-inner" id="maindiv">
            <div class="row ">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="label">Password<span style="color:red">*</span></label>
                        @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", @data_val = "true", @maxlength = "15", @data_val_required = "New password is required", @autocomplete = "disabled", @oncopy = "return false", @onpaste = "return false" })
                        @Html.ValidationMessage("Newpassword", "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="label">Confirm password<span style="color:red">*</span></label>
                        @Html.TextBox("Confirmpassword", null, new { @class = "form-control", @type = "password", @data_val = "true", @maxlength = "15", @data_val_required = "Confirm password is required", @autocomplete = "disabled", @oncopy = "return false", @onpaste = "return false" })
                        @Html.ValidationMessage("Confirmpassword", "", new { @class = "text-danger" })
                        <span id="confirmPasswordErrorMessage" class="text-danger"></span> <!-- Add this line -->
                    </div>
                </div>
                <div class="col-sm-3 mt-4">
                    <button id="button" class="btn btn-primary" onclick="btnemailupdate();">Update</button>
                </div>
            </div>

            <div>
                <span id="passwordErrorMessage" class="text-danger"></span> <!-- Add this line -->
            </div>
        </div>

    </div>
    }


    <input type="text" value="@Convert.ToString(Session[" uid"])" id="userId" hidden />
</section>
<div class="margin_section margin_top  form_history_icon " id="divotp" style="display:none;">
    <h3 class="page-title">
        Update password
    </h3>
    <div class="box-inner">

        <div class="row">
            <div class="col-md-3 form-group">
                OTP was sent to :
                <div><input type="text" class="form-control" id="mobile" value="@Convert.ToString(Session["mobile"])"></div>
                @*<b><span id="lblmobile"><input type="text" value="@Convert.ToString(Session[" mobile"])" /></span></b>*@
            </div>

            <div class="col-md-3 form-group">
                Enter OTP
                <div><input type="text" id="txtotp" class="form-control" maxlength="6"></div>
            </div>


            <div class="col-md-3 form-group center-block mt-3">
                <div><button id="btnupdatepassword" onclick="btnconfirm()" class="btn btn-primary">Update password</button></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text-center" style="display: none;" id="divsuccess">
                    <span id="lblupdaterror" class="text-center"></span>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .text-danger {
        display: block !important;
        visibility: visible !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('#passwordErrorMessage').text('');
        $('#confirmPasswordErrorMessage').text('');
        $('#Password').on('blur', function () {

            var password = $(this).val();
            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;

            if (!passwordRegex.test(password)) {
                $('#passwordErrorMessage').text('Minimum 8 characters required with at least 1 upper letter,1 lower letter , 1 number, and 1 special character.');
            } else {
                $('#passwordErrorMessage').text('');
            }
        });

        $('#Confirmpassword').on('blur', function () {

            var confirmPassword = $(this).val();
            var password = $('#Password').val();

            if (confirmPassword !== password) {
                $('#confirmPasswordErrorMessage').text('Passwords do not match.');
            } else {
                $('#confirmPasswordErrorMessage').text('');
            }
        });


    });
    function btnconfirm() {
        var pass = $("#Password").val();
        var crnpass = $("#Confirmpassword").val();
        var otpin = $("#txtotp").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: "Post",
            url: './Home/Getupdatepassword',
            data: { '__RequestVerificationToken': token, 'pass': pass, 'crnpass': crnpass, 'otp': otpin },
            success: function (data) {
                // //debugger;
                console.log(data);
                if (data == "Successfully updated") {
                    swal('Successfully updated', '', 'success');
                   // swal({ icon: "success", text: "Successfully updated" });
                    loadConfigView('22');
                }
                else if (data == "Please enter correct OTP!") {
                    swal({ icon: "warning", text: "Please enter correct OTP!" });
                }
                else {
                    swal({ icon: "error", text: data });
                }
            }
        });


    }
    function btnemailupdate() {
        // //debugger;
        $('#passwordErrorMessage').text();
        var pass = $("#Password").val();
        var crnpass = $("#Confirmpassword").val();
        if (pass == crnpass && pass != "") {
            var token = $('input[name="__RequestVerificationToken"]').val();

            if ($("#form0").valid()) {
                swal({
                    title: "Are you sure to submit?",
                    type: "warning",
                    confirmButtonText: "Confirm",
                    showCancelButton: true,
                    closeOnClickOutside: false,
                })
                    .then((willDelete) => {
                        if (willDelete.value) {
                            $.ajax({
                                type: "Post",
                                url: './Home/Getotp',
                                data: { '__RequestVerificationToken': token, 'pass': pass, 'crnpass': crnpass },
                                success: function (data) {
                                    // //debugger;
                                    console.log(data);
                                    if (data == "successfull") {
                                        $("#divotp").show();
                                        $("#maindiv1").hide();
                                    }
                                    else if (data == "Please update your mobile number in the View and update profile page") {
                                        swal({ icon: "warning", text: "Please update your mobile number in the View and update profile page!" });
                                    }
                                    else {
                                       // swal({ icon: "error", text: data });
                                        swal(data, '', 'error');
                                    }
                                }
                            });
                            //swal({ icon: "success", text: "Submitted successfull" });
                        } else {
                            swal('Cancelled', '', 'error');
                        }
                    });

            }
        }
        else if (pass == "") {
            $('#passwordErrorMessage').text("Please enter password and confirm password");

        }
        else {
            $('#passwordErrorMessage').text("Password does not match the confirm password !");

        }
    };

    //function btnemailupdate() {
    //    var pass = $("#Password").val();
    //   var crnpass = $("#Confirmpassword").val();



    //}
    function password(e) {
        if (e.which === 32)
            return false;
    };

    function OnSuccess(data) {

        if (data.param1 == '100' || data.param1 == '300') {
            swal({
                title: data.param2 + " /code-" + data.param1,
                type: "error",
                icon: "error",
                closeOnClickOutside: false,
                allowOutsideClick: false

            });
        }
        else if (data.param1 == '200') {
            swal({
                title: data.param2,
                type: "success",
                icon: "success",
                closeOnClickOutside: false,
                allowOutsideClick: false
            });
            $('#Newpassword').val('');
            $('#oldpassword').val('');
            $('#Confirmpassword').val('');
            // $("#errCnfpass").html('');
            $("#erroldpass").html('');

        }


    }

    function OnFailure(data) {

        swal({
            title: data.param2 + " /code-" + data.param1,
            type: "error",
            icon: "error",
            closeOnClickOutside: false,
            allowOutsideClick: false
        });
    }

    function Validate() {

    }
</script>
