
@model Gstudent.ViewModels.Studentrecords.Feesummary
<style>
    @@media screen and (max-width:767px) {
        .mb-none {
            display: none;
        }
    }
    </style>
<section class="content-container contentContainer">
    <div class="d-flex flex-wrap justify-content-between">
        <h3 class="page-title">
            Fees
            
        </h3>
        <div>
            <span style="font-size:11px;">( Please allow pop-up ) @*<i class="ri-arrow-right-line"></i>*@ </span>
            <a class="btn btn-primary btn-sm mb-1" href="https://gpay.gitam.edu/?REGDNO=@Session["uid"].ToString()&MOBILE=@Session["parentmobile"].ToString()" target="_blank">Pay now</a>
            <div class="back pull-right btn-left">
                <a href="javascript:void(0);" onclick="location.reload();">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </div>
        </div>
    </div>
       
    <div class="box-inner">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-title">
                    Hostel

                </h3>
                <div class="box-inner">
                    <div id="dynamictablehospay" class="">


                        <div id="dynamictablehospay" class="table-responsive dropdown_filter  table_row_hover">


                            <table class="table table-bordered" id="tblxyz1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="mb-none">Transaction ID</th>
                                        <th>Payment date</th>
                                        <th>Total fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.fillhostel.Count() > 0)
                                    {
                                        foreach (var val in Model.fillhostel)
                                        {
                                            <tr>
                                                <td class="mb-none">@val.CHALLAN_NO</td>
                                                <td>@val.Date</td>
                                                <td>@val.total_fee</td>



                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <h3 class="page-title">
                    Tuition

                </h3>


                <div class="box-inner">
                    <div id="dynamic" class="">


                        <div id="dynamictable" class="table-responsive dropdown_filter  table_row_hover">

                            <table class="table table-bordered" id="tblxyz" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="l-w-200 mb-none">Transaction ID</th>
                                        <th>Payment date</th>
                                        <th>Total fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.tutionfee.Count() > 0)
                                    {
                                        foreach (var val in Model.tutionfee)
                                        {
                                            <tr>
                                                <td class="mb-none">@val.challan_no</td>
                                                <td>@val.date</td>
                                                <td>@val.total_fee</td>



                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <h3 class="page-title">
                    Admission

                </h3>


                <div class="box-inner">
                    <div id="dynamic" class="">


                        <div id="dynamictable" class="table-responsive dropdown_filter  table_row_hover">

                            <table class="table table-bordered" style="width:100%" id="table4">
                                <thead>
                                    <tr>

                                        <th class="mb-none">Transaction ID</th>
                                        <th>Payment date</th>
                                        <th class="mb-none">Payment status</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.payment_details.Count() > 0)
                                    {
                                        foreach (var val in Model.payment_details)
                                        {
                                    <tr>

                                        <td class="mb-none">@val.txn_id</td>
                                        <td>@val.paymenT_DATE</td>
                                        @if (@val.Status == "Y")
                                        {
                                            <td class="mb-none">Successful</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }


                                        <td>@val.amount</td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="page-title">
                    Evaluation
                </h3>
                <div class="box-inner">
                    <div id="dynamicevaul" class="">


                        <div id="dynamictableevaul" class="table-responsive dropdown_filter  table_row_hover">

                            <table class="table table-bordered" id="tblxyz2" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="mb-none">Transaction ID</th>
                                        <th>Payment date</th>
                                        <th class="mb-none">Description</th>
                                        <th>Total fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.evaluationfee.Count() > 0)
                                    {
                                        foreach (var val in Model.evaluationfee)
                                        {
                                    <tr>
                                        <td class="mb-none">@val.challan_no</td>
                                        <td>@val.date</td>
                                        <td class="mb-none">@val.description</td>
                                        <td>@val.total_fee</td>



                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                </div>
            </div>
                <h3 class="h3 mb-0 page-title">
                    Others
                </h3>
                <div class="box-inner">
                    <div id="dynamicother" class="r">


                        <div id="dynamictableother" class="table-responsive dropdown_filter  table_row_hover">


                            <table class="table table-bordered" id="tblxyz3" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="mb-none">Transaction ID</th>
                                        <th>Payment date</th>
                                        <th class="mb-none">Description</th>
                                        <th>Total fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.otherfee.Count() > 0)
                                    {
                                        foreach (var val in Model.otherfee)
                                        {
                                    <tr>
                                        <td class="mb-none">@val.challan_no</td>
                                        <td>@val.date</td>
                                        <td class="mb-none">@val.description</td>
                                        <td>@val.total_fee</td>


                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

</section>


<script>

    //$(document).ready(function () {
   
    //    $('#tblxyz').DataTable();
    //    $('#tblxyz1').DataTable();
    //    $('#tblxyz2').DataTable();
    //    $('#tblxyz3').DataTable();
       


    //});
    //function Tutionfees() {

    //    $.ajax({
    //        type: "Get",
    //        url: './Home/gettuitionfee',
    //        contentType: "application/json; charset=utf-8",
    //        data: {
    //        },
    //        success: function (data) {
    //            //debugger;
    //            console.log(data);
    //            if (data.length == 0) {
    //                $('#dynamictable').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl" style="width:100%"><thead><tr><th class="l-w-200">Challan number</th><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';
    //                trHTML += '<tr class="text-center"><td colspan="12">No data available</td></tr>';

    //                trHTML += '</tbody></table>';

    //                $('#dynamictable').append(trHTML);
    //                $("#dynamic").show();


    //            } else {


    //                $('#dynamictable').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl" style="width:100%"><thead><tr><th class="l-w-200" style="width:450px;">Challan number</th><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';

    //                $.each(data, function (key, value) {


    //                    trHTML +=


    //                        "</td><td>" + value.challan_no +
    //                        "</td><td>" + value.date +
    //                        "</td><td>" + value.total_fee +
    //                        /*  "</td><td>" + value.txn_id +*/


    //                        "</td></tr> "
    //                });


    //                trHTML += "</tbody></table>";

    //                $('#dynamictable').append(trHTML);
    //                $('#tbl').dataTable({


    //                });

    //            }
    //        }

    //    });

    //}

    //function Otherfees() {

    //    $.ajax({
    //        type: "Get",
    //        url: './Home/getotherfee',
    //        contentType: "application/json; charset=utf-8",
    //        data: {
    //        },
    //        success: function (data) {
    //            console.log(data);

    //            if (data.length == 0) {
    //                $('#dynamictableother').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl1" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th><th>Description</th></tr></thead><tbody>';
    //                trHTML += '<tr class="text-center"><td colspan="12">No data available</td></tr>';

    //                trHTML += '</tbody></table>';

    //                $('#dynamictableother').append(trHTML);
    //                $(".dynamicother").show();

    //            } else {


    //                $('#dynamictableother').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl1" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th><th>Description</th></tr></thead><tbody>';

    //                $.each(data, function (key, value) {


    //                    trHTML +=


    //                        "</td><td>" + value.challan_no +
    //                        "</td><td>" + value.date +
    //                        "</td><td>" + value.total_fee +
    //                        /*      "</td><td>" + value.txn_id +*/
    //                        "</td><td>" + value.description +

    //                        "</td></tr> "
    //                });


    //                trHTML += "</tbody></table>";

    //                $('#dynamictableother').append(trHTML);
    //                $('#tbl1').dataTable({


    //                });

    //            }
    //        }

    //    });

    //}

    //function Evaultionfees() {

    //    $.ajax({
    //        type: "Get",
    //        url: './Home/getevaulfee',
    //        contentType: "application/json; charset=utf-8",
    //        data: {
    //        },
    //        success: function (data) {

    //            console.log(data);
    //            if (data.length == 0) {
    //                $('#dynamictableevaul').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl2" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th><th>Description</th></tr></thead><tbody>';
    //                trHTML += '<tr class="text-center"><td colspan="12">No data available</td></tr>';

    //                trHTML += '</tbody></table>';

    //                $('#dynamictableevaul').append(trHTML);
    //                $(".dynamicevaul").show();



    //            } else {


    //                $('#dynamictableevaul').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl2" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th><th>Description</th></tr></thead><tbody>';

    //                $.each(data, function (key, value) {


    //                    trHTML +=

    //                        "</td><td>" + value.challan_no +
    //                        "</td><td>" + value.date +
    //                        "</td><td>" + value.total_fee +
    //                        /*   "</td><td>" + value.txn_id +*/
    //                        "</td><td>" + value.description +

    //                        "</td></tr> "
    //                });


    //                trHTML += "</tbody></table>";

    //                $('#dynamictableevaul').append(trHTML);
    //                $('#tbl2').dataTable({


    //                });


    //            }
    //        }

    //    });

    //}
    //function tutionpayment() {

    //    $.ajax({
    //        type: "Get",
    //        url: './Home/tutionpayment',
    //        contentType: "application/json; charset=utf-8",
    //        data: {
    //        },
    //        success: function (data) {

    //            console.log(data);
    //            if (data.length == 0) {
    //                $('#dynamictabletutpay').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl5" style="width:100%"><thead><tr><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';
    //                trHTML += '<tr class="text-center"><td colspan="12">No data available</td></tr>';

    //                trHTML += '</tbody></table>';

    //                $('#dynamictabletutpay').append(trHTML);
    //                $(".dynamicevaul").show();



    //            } else {


    //                $('#dynamictabletutpay').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl5" style="width:100%"><thead><tr><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';

    //                $.each(data, function (key, value) {


    //                    trHTML +=


    //                        "</td><td>" + value.Date +
    //                        "</td><td>" + value.total_fee +


    //                        "</td></tr> "
    //                });


    //                trHTML += "</tbody></table>";

    //                $('#dynamictabletutpay').append(trHTML);
    //                $('#tbl5').dataTable({


    //                });


    //            }
    //        }

    //    });

    //}

    //function hostelpayment() {

    //    $.ajax({
    //        type: "Get",
    //        url: './Home/hostelpayment',
    //        contentType: "application/json; charset=utf-8",
    //        data: {
    //        },
    //        success: function (data) {

    //            console.log(data);
    //            if (data.length == 0) {
    //                $('#dynamictablehospay').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl6" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';
    //                trHTML += '<tr class="text-center"><td colspan="12">No data available</td></tr>';

    //                trHTML += '</tbody></table>';

    //                $('#dynamictablehospay').append(trHTML);
    //                $(".dynamicevaul").show();



    //            } else {


    //                $('#dynamictablehospay').html('');
    //                trHTML = '<table class="table table-bordered"  id="tbl6" style="width:100%"><thead><tr><th>Challan number</th><th>Payment date</th><th>Total fee</th></tr></thead><tbody>';

    //                $.each(data, function (key, value) {


    //                    trHTML +=
    //                        "</td><td>" + value.CHALLAN_NO +
    //                        "</td><td>" + value.Date +
    //                        "</td><td>" + value.total_fee +

    //                        "</td></tr> "
    //                });


    //                trHTML += "</tbody></table>";

    //                $('#dynamictablehospay').append(trHTML);
    //                $('#tbl6').dataTable({


    //                });


    //            }
    //        }

    //    });

    //}












</script>
