@model Gstudent.ViewModels.Studentrecords.Lmsdirectorysummary
@{
    ViewBag.Title = "lmstype";
}

<h2>lmstype</h2>

<div class=" cardBoxContainer courseDetailsContainer">
    <div class="dashboardCardContainer mb-4">
        <div class="row">

            <div class="col-sm-3">
                @*<a href="@Url.Content("~/Courses/Course_resources")">*@
                <div class="cardBox text-center justify-content-center">
                    <div>
                        <img src="~/img/glearn/resourses.png">
                        <h5 class="cardTitle">Resources</h5>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Reports/Course_attendance_report1_new")">
                    <div class="cardBox text-center justify-content-center">

                        <div class="atd">

                            <img src="~/img/glearn/attendance.png" />
                            <h5 class="cardTitle">Attendance report</h5>

                        </div>


                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Extra_Classes_new")">
                    <div class="cardBox text-center justify-content-center">

                        <div>
                            <img src="~/img/glearn/course-content.png">
                            <h5 class="cardTitle">Extra class</h5>

                        </div>


                    </div>
                </a>
            </div>
            @*<div class="col-sm-3">
                    <a href="@Url.Content("~/Atd/course_plan")">
                        <div class="cardBox text-center justify-content-center">

                            <div>
                                <img src="~/img/glearn/course-content.png">
                                <h5 class="cardTitle">Course plan</h5>

                            </div>


                        </div>
                    </a>
                </div>*@
            <div class="col-sm-3">
                <a href="@Url.Content("~/Reports/course_summary_new")">
                    <div class="cardBox text-center justify-content-center">

                        <div>
                            <img src="~/img/glearn/course-summary.png">
                            <h5 class="cardTitle">Course summary</h5>

                        </div>

                    </div>
                </a>

            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Ce_marks")">
                    <div class="cardBox text-center justify-content-center">
                        <div>
                            <img src="~/img/glearn/marks1.png">
                            <h5 class="cardTitle">Internal marks</h5>

                        </div>

                    </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Internal_marks")">
                    <div class="cardBox text-center justify-content-center">
                        <div>
                            <img src="~/img/glearn/marks1.png">
                            <h5 class="cardTitle">Internal marks report</h5>

                        </div>

                    </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Assignment")" />
                <div class="cardBox text-center justify-content-center">
                    <div>
                        <img src="~/img/glearn/marks1.png">
                        <h5 class="cardTitle">Assignment</h5>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Announcements")" />
                <div class="cardBox text-center justify-content-center">
                    <div>
                        <img src="~/img/glearn/marks1.png">
                        <h5 class="cardTitle">Announcements</h5>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Communications")" />
                <div class="cardBox text-center justify-content-center">
                    <div>
                        <img src="~/img/glearn/marks1.png">
                        <h5 class="cardTitle">Communication</h5>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Content("~/Atd/Virtual_class")" />
                <div class="cardBox text-center justify-content-center">
                    <div>
                        <img src="~/img/glearn/marks1.png">
                        <h5 class="cardTitle">Open elective class creation</h5>

                    </div>

                </div>
            </div>


        </div>
    </div>


</div>