@model Gstudent.ViewModels.Studentrecords.Degreeplansummary
<section class="content-container contentContainer" id="hide">
    <div class="d-flex flex-wrap justify-content-between">

        <div>

            <div class="back pull-right btn-left">
                <a href="javascript:void(0);" onclick="location.reload();">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </div>
        </div>
    </div>
    @if (Model.medical.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">

                <div class="box-inner" id="dynamictable">
                    <div class="">


                        <div id="dynamic" class="table-responsive dropdown_filter  table_row_hover">


                            <table class="table table-bordered" id="tblxyz1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="mb-none">S.no</th>
                                        <th>Appointment ID</th>
                                        <th>Appointment name</th>
                                        <th>Venue</th>
                                        <th>Date</th>
                                        <th>Slot duration in mins</th>
                                        <th>From time</th>
                                        <th>To time</th>
                                        <th>Total appointments</th>
                                        <th>Available</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.medical.Count() > 0)
                                    {
                                        foreach (var val in Model.medical)
                                        {
                                            <tr>
                                                <td>@val.row</td>
                                                <td>@val.ID</td>
                                                <td>@val.ENAME</td>
                                                <td>@val.EVENUE</td>
                                                <td>@val.EDATE</td>
                                                <td>@val.slot</td>
                                                <td>@val.FROMTIME</td>
                                                <td>@val.TOTIME</td>
                                                <td>@val.MAXCOUNT</td>
                                                <td>@val.ALLOTEDCOUNT</td>
                                                <td><button class="btn btn-primary" onclick="buttonClick('@val.ID', '@val.ENAME', '@val.EVENUE','@val.EDATE')" value="bookappointment" id="booked">Book appointment</button></td>


                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12" class="text-center">No data available</td></tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    }




    <div class="row">
        <div class="col-md-12">
            <h4>Appointments scheduled history</h4>
            <div class="box-inner">
                <div id="dynamictable2" class="">


                    <div id="dynamic2" class="table-responsive dropdown_filter  table_row_hover">


                        <table class="table table-bordered" id="tblxyz1" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="mb-none">S.no</th>
                                    <th>Appointment ID</th>
                                    <th>Appointment name</th>
                                    <th>Venue</th>
                                    <th>Date</th>
                                    <th>From time</th>
                                    <th>To time</th>
                                    <th>Slot duration in mins</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.required.Count() > 0)
                                {
                                    foreach (var val in Model.required)
                                    {
                                        <tr>
                                            <td>@val.row</td>
                                            <td>@val.ID</td>
                                            <td>@val.ENAME</td>
                                            <td>@val.EVENUE</td>
                                            <td>@val.EDATE</td>
                                            <td>@val.FROMTIME</td>
                                            <td>@val.TOTIME</td>
                                            <td>@val.slot</td>


                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="12" class="text-center">No data available</td></tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>

    </div>



</section>
<div id="div_datatable">

</div>

<script>
    function buttonClick(id, name, venue, date) {


        swal({
            title: "Do you want to confirm ?",
            type: "",
            confirmButtonText: "Confirm",
            showCancelButton: true,
            closeOnClickOutside: false,
        })
            .then((willDelete) => {
                //debugger;
                if (willDelete.value) {
                    //debugger;
                    bookappointment(id, name, venue, date);

                } else {
                    swal('Cancelled', '', 'error');
                }
            });

    }

  
    function bookedlist(id) {
        $.ajax({
            type: "Get",
            url: './Home/getmedicalappointment',
            data: { 'id': id },
            success: function (result) {
                debugger;
                console.log(result);
                $("#div_datatable").html('');

                if (result.required.length > 0) {

                    var tablestring = "";
                    tablestring = tablestring + "<div class='box-container'><div class='table-responsive'><table id='example55' class='table table_style table-bordered appointments dataTable no-footer' role='grid' aria-describedby='example55_info'>";
                    tablestring = tablestring + "<thead class='thead-light'><tr><th>Slno</th><th>Appointment ID</th><th>Appointment name</th><th>Venue</th><th>Date</th><th>From time</th><th>To time</th><th>Slot duration in mins</th></tr></thead><tbody>";
                    for (var i = 0; i < result.required.length; i++) {
                        var slno = i + 1;
                        tablestring = tablestring + '<tr> <td>' + slno + '</td><td> ' + result.required[i].ID + '</td><td> ' + result.required[i].ENAME + '</td><td>' + result.required[i].EVENUE + '</td> <td>' + result.required[i].EDATE + '</td><td>' + result.required[i].FROMTIME + '</td><td>' + result.required[i].TOTIME + '</td><td>' + result.required[i].slot + '</td></tr>';
                    }

                    tablestring = tablestring + "</tbody></table></div></div>";
                    $("#div_datatable").append(tablestring);
                    $('#hide').hide();
                }
                else {
                    setTimeout(loaddata, 1500);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                $(".loaderm").hide();
            }


        });
    };

    function bookappointment(id, name, venue, date) {

        $.ajax({
            type: "POST",
            url: './Home/bookappointment',
            data: { 'id': id, 'name': name, 'venue': venue, 'date': date },
            success: function (data) {
                var error = data.msg;
                if (error == "Appointment successful") {
                    swal('Appointment successful', '', 'success');
                    //bookedlist(id);
                    setTimeout(loaddata, 1500);

                }
                else if (error == "Appointment were filled") {
                    swal('Appointment were filled', '', 'error');
                    setTimeout(loaddata, 1500);
                }
                else if (error == "Appointment insertion failed count increased") {
                    swal('Appointment insertion failed count increased', '', 'error');
                    setTimeout(loaddata, 1500);
                }
                else {

                    swal('Appointment doesnot exist', '', 'error');
                    setTimeout(loaddata, 1500);
                }

            },
            error: function (request, status, error) {

            }
        });
    }

    function loaddata() {
        loadConfigView('61');
    }
</script>