<section class="content-container contentContainer">
    @using (Ajax.BeginForm("ChangeUserPassword", "Home", new AjaxOptions {  OnSuccess = "OnSuccess", OnFailure = "OnFailure", HttpMethod = "POST", LoadingElementId = "loading" }))

    {
    @Html.AntiForgeryToken()
    <div class="margin_section margin_top  form_history_icon ">
        <h3>
            Change password
        </h3>
        <div class="box-inner" id="maindiv">
            <div class="row ">
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label id="label">Old password<span style="color:red">*</span></label>
                        @Html.TextBox("oldpassword", null, new { @class = "form-control", @type = "password", @data_val = "true", @maxlength = "15", @data_val_required = "Old password is required", @onkeypress = "return password(event);", @autocomplete = "disabled", @oncopy = "return false", @onpaste = "return false", @onchange = "checkoldPassword(this.value)",@required="required" })
                        @Html.ValidationMessage("oldpassword", "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label id="label">New password<span style="color:red">*</span></label>
                        @Html.TextBox("Newpassword", null, new { @class = "form-control", @type = "password", @data_val = "true", @maxlength = "15", @data_val_required = "New password is required",@onchange = "return validatePassword(event);", @autocomplete = "disabled", @oncopy = "return false", @onpaste = "return false" , @required = "required" })
                        @Html.ValidationMessage("Newpassword", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label id="label">Confirm password<span style="color:red">*</span></label>
                        @Html.TextBox("Confirmpassword", null, new { @class = "form-control", @type = "password", @data_val = "true", @maxlength = "15", @data_val_required = "Confirm password is required", @onkeypress = "return password(event);", @autocomplete = "disabled", @oncopy = "return false", @onpaste = "return false", @onchange = "checkConfirmPassword(this.value)" , @required = "required" })
                        @Html.ValidationMessage("Confirmpassword", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="submit" id="btnSave" name=" " class="btn btn-primary mt-3" value="Change password" />
                </div>
            </div>
        </div>
    </div>
    }
    <input type="text" value="@Convert.ToString(Session["REGDNO"])" id="userId" hidden />
</section>

<script>

    function checkoldPassword(val) {


        var user_id = $('#userId').val();
        var oldpw = val;
        if (oldpw.length != 0) {
            getdata(oldpw, user_id);
        }
    }


    var flag = 'N';
    $(document).ready(function () {
        $('input[type="submit"]').attr('disabled', 'disabled');
    });

    function checkConfirmPassword(val) {
        //$("#errCnfpass").html('');
        $('input[type="submit"]').removeAttr('disabled', 'disabled');
        var newPw = $("#Newpassword").val();
        var Cnfpw = val;
        if (Cnfpw.length == 0) {
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
        if (Cnfpw != newPw && Cnfpw.length != 0) {
            $('#Confirmpassword').val('');
            //$("#errCnfpass").html('Passwords not matching');
            swal({
                title: "Passwords not matching",
                type: "error",
                icon: "error",
                closeOnClickOutside: false,
                allowOutsideClick: false
            });
            $('input[type="submit"]').attr('disabled', 'disabled');
            return false;
        }


    }

    function getdata(oldpw, userid) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: "Post",
            url: './Home/getoldPassword',
            data: { '__RequestVerificationToken': token, 'Id': userid, 'pass': oldpw },
            success: function (data) {
                if (data.param2 == "Mismatch") {
                    $('#oldpassword').val('');
                    swal({
                        title: "Wrong old password",
                        type: "error",
                        icon: "error",
                        closeOnClickOutside: false,
                        allowOutsideClick: false
                    });
                    flag = 'Y';
                }
            }
        });

    }

    function password(e) {
        if (e.which === 32)
            return false;
    };

    function OnSuccess(data) {

        if (data.param1 == '100' || data.param1 == '300') {
            swal({
                title: data.param2 + " /code-" + data.param1,
                type: "error",
                icon: "error",
                closeOnClickOutside: false,
                allowOutsideClick: false

            });
        }
        else if (data.param1 == '200') {
            swal({
                title: data.param2,
                type: "success",
                icon: "success",
                closeOnClickOutside: false,
                allowOutsideClick: false
            });
            $('#Newpassword').val('');
            $('#oldpassword').val('');
            $('#Confirmpassword').val('');
            // $("#errCnfpass").html('');
            $("#erroldpass").html('');

        }


    }

    function OnFailure(data) {

        swal({
            title: data.param2 + " /code-" + data.param1,
            type: "error",
            icon: "error",
            closeOnClickOutside: false,
            allowOutsideClick: false
        });
    }

    function Validate() {
        // $("#errCnfpass").html('');
        var userid = $("#userID").val();
        var oldpw = $("#oldpassword").val();
        getdata(oldpw, userid);
        if (flag == 'Y') {
            flag = 'N';
            return false;
        }
    }
    function validatePassword() {
        var s = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$";

        var p = document.getElementById('Newpassword').value,
            errors = [];
        if (p.length < 8) {
            errors.push("Your password must be at least 8 characters");
        }
        if (p.search(/[a-z]/i) < 0) {
            errors.push("Your password must contain at least one letter.");
        }
        if (p.search(/[0-9]/) < 0) {
            errors.push("Your password must contain at least one digit.");
        }
        if (errors.length > 0) {
            document.getElementById('Newpassword').value = "";
            document.getElementById('Newpassword').focus();
            
            alert(errors.join("\n"));
            return false;

        }
        return true;
    }
</script>

